/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

.mobile-content {
    height: calc(90vh - 44px);
}

.collapsed-padding {
    padding: 0;
}

.button.create {
    margin: 0 auto;
    background: transparent;
    color: #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    border-radius: 0;
    padding: 0 15px;
}
